@font-face {
  font-family: Krungthep;
  src: url(../asstes/fonts/Krungthep.ttf);
}
.Krungthep{
  font-family: Krungthep;
}



@font-face {
  font-family: Avenir;
  src: url(./asstes/fonts/Avenir.ttf);
}
.Avenir{
  font-family: Avenir;
}
body{
  background:#F4F3EE;
}


.swiper-pagination-bullet {
 
  background: #F4F3EE !important;
  opacity: 1 !important;
  
}

.swiper-pagination-bullet-active {

  background:#D44D2D !important;
}


@media only screen and (max-width: 425px) and (min-width: 320px)  {

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
 
    font-size: 18px !important;
    padding-left: 29px !important;
  }
  .swiper-button-prev:after, .swiper-ltr .swiper-button-next:after {
   
    font-size: 18px !important;
    padding-right: 29px !important;
  }


} 














/* =========================STYLING FOR OUR STORY SECTON START HERE================ */
.ctg a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase; /* Transform text to uppercase */
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

.hover\:opacity-100:hover {
  opacity: 0.3;
}

.uppercase {
  text-transform: uppercase;
}

/* =========================STYLING FOR OUR STORY SECTON END HERE================ */






















