@font-face {
  font-family: Krungthep;
  src: url(../asstes/fonts/Krungthep.ttf);
}
.Krungthep{
  font-family: Krungthep;
}



@font-face {
  font-family: Avenir;
  src: url(./asstes/fonts/Avenir.ttf);
}
.Avenir{
  font-family: Avenir;
}
body{
  background:#F4F3EE;
}


.swiper-pagination-bullet {
 
  background: #F4F3EE !important;
  opacity: 1 !important;
  
}

.swiper-pagination-bullet-active {

  background:#D44D2D !important;
}


@media only screen and (max-width: 425px) and (min-width: 320px)  {

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
 
    font-size: 18px !important;
    padding-left: 29px !important;
  }
  .swiper-button-prev:after, .swiper-ltr .swiper-button-next:after {
   
    font-size: 18px !important;
    padding-right: 29px !important;
  }


} 














/* =========================STYLING FOR OUR STORY SECTON START HERE================ */
.ctg a {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase; /* Transform text to uppercase */
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.group{
  transition: height 0.3s ease;
}







/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .25s;
}

/* 
.accordion {
    padding: 0;
    margin: 0 auto;
    width: 20%;
    font-family: "PT Sans" sans-serif
} */

.accordion .accordion-item {
  /* background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee); */
  /* border-bottom: 1px solid #666; */
  padding: 1em;
  color: red;
}




/* .group {
  padding-bottom: 20px;
  transition: padding-bottom 0.3s ease; 
}

.heading {
  transition: color 0.3s ease;
}

.paragraph {
  position: absolute;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.group:hover {
  padding-bottom: 60px; 
}

.group:hover .paragraph {
  visibility: visible;
  opacity: 1;
} */


/* @media only screen and (max-width: 1920px) and (min-width: 768px)  {
  .group:hover {
    padding-bottom: 60px; 
  }
} */


















/* =========================STYLING FOR OUR STORY SECTON END HERE================ */






















